@(asg: model.ASG)(implicit money: java.text.DecimalFormat)
<div class="asg panel panel-default server-rendered">
    <div class="panel-heading">
        <h4 class="panel-title">
            @for(link <- asg.moreDetailsLink) {<a href="@link">}@asg.appName @for(link <- asg.moreDetailsLink) {</a>}
            <small>(~ $@money.format(asg.approxMonthlyCost)/month)</small>
        </h4>
    </div>

    @if(!asg.suspendedActivities.isEmpty) {
        <div class="alert alert-warning panel-body">
            <strong>Warning!</strong> The following autoscaling activities are currently
            suspended: @asg.suspendedActivities.mkString(", ")
        </div>
    }

    <table class="table table-condensed">

        <thead>
            <th>Instance</th>
            <th>AutoScaling</th>
            @if(asg.hasElb) {
                <th>ELB</th>
            }
            <th>Uptime</th>
            <th>Version</th>
        </thead>

        @for(member <- asg.members) {
            <tr class="@member.goodorbad">
                <td><a href="@routes.Application.instance(member.id)">@member.id</a></td>
                <td>@member.lifecycleState</td>
                @if(asg.hasElb) {
                    <td title="@member.description">@member.state<br>@member.description</td>
                }
                <td>@member.instance.uptime</td>
                <td>@member.instance.version.getOrElse("?")</td>
            </tr>
        }

    </table>
</div>