.cluster-status {
    .pending {
        background-color: gainsboro;
    }
  @media (min-width: 600px) {
    margin-left: 50px;
  }
}

.table>tbody>tr>td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.table>tbody>tr>td:first-child {
  white-space: nowrap;
}
.table>tbody>tr>td:nth-child(4) {
  white-space: nowrap;
}

.tight-top {
  margin-top: 0;
}
.tight-bottom, table.tight-bottom, div.tight-bottom {
  margin-bottom: 0;
}

.loading {
  margin: 10%;
}

.alert-info.panel-body {
  padding: 5px 8px;
  margin-bottom: 0px;
}
.panel .table-condensed {
  font-size: 90%;
}

svg.sparkline-plus {
  width: 100%;

  text {
    stroke: black;
    stroke-width: 0;
  }
}
svg.queue-stats {
  height: 21px;

  rect {
    fill-opacity: 0.5
  }
  rect:hover {
    fill-opacity: 0.75
  }
}
#queues .list-group {
  margin: 10px 0;
}
.queue-condensed {
  margin: 0;
}

.settings {
  padding: 5px;
}
.affix-top {
}
.affix {
  position: fixed;
}
.affix-bottom {
  position: absolute;
}
table {
  border-top: 1px solid lightgrey;
}
.clipboard {
  position: relative;
  top: -3px;
  left: 5px;
}

.asg {
  overflow: hidden;
}

.stacks {
  margin: 5px 0;
}
