.cluster-status {
    .tech-info {
        font-size: 90%;
    }

    .good {
        background-color: #90EE90;
    }

    .bad {
        background-color: #FA8072;
    }

    .pending {
        background-color: gainsboro;
    }

    .header {
        margin-top: 25px;
    }

    .like-a-link {
        background-color: transparent;
        text-decoration: underline;
        border: none;
        color: blue;
        cursor: pointer;
    }

    .sunk {
        border-top: 1px black dotted;
        margin-top: 1em;
    }
}

.table>tbody>tr>td {
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#stats-body>tr>td {
  max-width: 200px;
}
.table>tbody>tr>td:first-child {
  white-space: nowrap;
}
.table>tbody>tr>td:nth-child(4) {
  white-space: nowrap;
}

.tight-top {
  margin-top: 0;
}
.tight-bottom, table.tight-bottom, div.tight-bottom {
  margin-bottom: 0;
}

.loading {
  margin: 10%;
}

.alert.panel-body {
  margin-bottom: 0px;
}
div.panel {
  margin: 10px 0;
}
.panel .table-condensed {
  font-size: 90%;
}