@(esHost: Option[String])

@main("elasticsearch status", scripts=List("/assets/js/es.js")) {

<div class="container instance-info">
    <div class="page-header">
        <h1>elasticsearch status</h1>
    </div>

    <h2>Usage Stats</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Stats Group</th>
            <th>Fetch Time</th>
            <th>Query Total Time</th>
            <th>Query Requests</th>
            <th>Query Avg Req Time</th>
        </tr>
        </thead>
        <tbody id="stats-body">

        <tr>
            <td colspan="3">Loading...</td>
        </tr>
        </tbody>
    </table>

    <div id="usage"></div>

</div>
<script>
  var hostname = "@esHost.getOrElse("")";
</script>
}