@(stage: String, estate: model.Estate, totalSunkCost: Float)(implicit request: play.api.mvc.Security.AuthenticatedRequest[_, User], money: java.text.DecimalFormat)

@import model._

@main("Status Monitor", stage=Some(stage), refreshSecs = Some(15), scripts = List("assets/js/graph.js")) {

    <div class="container cluster-status">

        <div class="row queues">
            <div class="col-sm-12">
            <ul class="list-group">
            @for(queue <- estate.queues) {
                <li class="list-group-item list-group-item-condensed">
                    <div class="row">
                        <h4 class="col-md-4 queue-condensed">@queue.name</h4>
                        <svg id="@queue.name-stats" class="queue-stats" class="col-md-8"></svg>
                        <script>
                        $(function() {
                            statsBar('#@queue.name-stats', [{
                                values: [@for(point <-  queue.approxQueueLength) { {x: @point.getTimestamp.getTime, y: @point.getAverage },}],
                                key: 'Approximate visible messages',
                            }])
                        })
                        </script>
                    </div>
                </li>
            }
            </ul>
            </div>
        </div>

        <div class="row">

        @for(column <- estate(stage).grouped(math.max(estate(stage).size / 3, 1))) {
            <div class="col-lg-4 hidden-md">
            @for(asg <- column) {
                @snippets.renderASG(asg)
            }
            </div>
        }
        @for(column <- estate(stage).grouped(math.max(estate(stage).size / 2, 1))) {
            <div class="col-md-6 visible-md">
            @for(asg <- column) {
                @snippets.renderASG(asg)
            }
            </div>
        }
        </div>
        <div class="row">
            <div class="well">
                Approximate total monthly cost for all stages: $@money.format(estate(stage).map(_.approxMonthlyCost).sum)
                @if(totalSunkCost > 0) { (total sunk cost: $@money.format(totalSunkCost)) }
            </div>
        </div>
    </div>
}