@(stage: String, estate: model.Estate, totalSunkCost: Float)(implicit request: play.api.mvc.Security.AuthenticatedRequest[_, User], money: java.text.DecimalFormat)

@import model._

@main("Status Monitor", refreshSecs = Some(15)) {

    <nav class="navbar navbar-default navbar-static-top tight-bottom">
        <ul class="nav navbar-nav">
        @for(s <- estate.stages) {
            <li class="@if(stage == s) {active}"><a href="/@s">@s</a></li>
        }
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li class="dropdown">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <i class="glyphicon glyphicon-user"></i> @request.user.fullName
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@routes.Login.logout()">Sign Out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="container cluster-status">
        <div class="row">

        @for(column <- estate(stage).grouped(math.max(estate(stage).size / 3, 1))) {
            <div class="col-lg-4 hidden-md">
            @for(asg <- column) {
                @snippets.renderASG(asg)
            }
            </div>
        }
        @for(column <- estate(stage).grouped(math.max(estate(stage).size / 2, 1))) {
            <div class="col-md-6 visible-md">
            @for(asg <- column) {
                @snippets.renderASG(asg)
            }
            </div>
        }
        </div>
        <div class="row">
            <div class="well">
                Approximate total monthly cost for all stages: $@money.format(estate(stage).map(_.approxMonthlyCost).sum)
                @if(totalSunkCost > 0) { (total sunk cost: $@money.format(totalSunkCost)) }
            </div>
        </div>
    </div>
}