@(stage: String, estate: model.Estate, totalSunkCost: Float)(implicit request: play.api.mvc.Security.AuthenticatedRequest[_, User], money: java.text.DecimalFormat)

@import model._

@main("Status Monitor", stage=Some(stage), refreshSecs = None, scripts = List("assets/js/graph.js")) {

    <div class="container cluster-status">

        <div class="row">
            <div class="panel panel-default">
                <table class="table table-condensed">
                @for(queue <- estate.queues) {
                    <tr>
                        <td><h4 class="panel-title">@queue.name</h4></td>
                        <td>
                            <svg id="@queue.name-stats" class="sparkline stats"></svg>
                            <script>
                            $(function() {
                                statsBar('#@queue.name-stats', [{
                                    values: [@for(point <-  queue.approxQueueLength) { {x: @point.getTimestamp.getTime, y: @point.getAverage },}],
                                    key: 'Approximate visible messages',
                                }])
                            })
                            </script>
                        </td>
                    </tr>
                }
                </table>
            </div>
        </div>

        <div class="row">

        @for(column <- estate(stage).grouped(math.max(estate(stage).size / 3, 1))) {
            <div class="col-lg-4 hidden-md">
            @for(asg <- column) {
                @snippets.renderASG(asg)
            }
            </div>
        }
        @for(column <- estate(stage).grouped(math.max(estate(stage).size / 2, 1))) {
            <div class="col-md-6 visible-md">
            @for(asg <- column) {
                @snippets.renderASG(asg)
            }
            </div>
        }
        </div>
        <div class="row">
            <div class="well">
                Approximate total monthly cost for all stages: $@money.format(estate(stage).map(_.approxMonthlyCost).sum)
                @if(totalSunkCost > 0) { (total sunk cost: $@money.format(totalSunkCost)) }
            </div>
        </div>
    </div>
}