@(title: String, refreshSecs: Option[Int] = None, scripts: List[String] = Nil)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href='@routes.Assets.at("bootstrap-2.1.0/css/bootstrap.min.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        @refreshSecs.map { s =>
            <meta http-equiv="refresh" content="@s">
        }
    </head>
    <body>
        @content

        <script src='@routes.Assets.at("javascripts/jquery-1.7.1.min.js")' type="text/javascript"></script>
        <script src='@routes.Assets.at("bootstrap-2.1.0/js/bootstrap.min.js")' type="text/javascript"></script>

        @for(script <- scripts) {
          <script src="@script" type="text/javascript"></script>
        }

    </body>
</html>
