@(title: String, stage: Option[String] = None, refreshSecs: Option[Int] = None,
        scripts: List[String] = Nil)(content: Html)(implicit request: play.api.mvc.Security.AuthenticatedRequest[_, User])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='@routes.Assets.at("bootstrap-3.0.0/css/bootstrap.min.css")'>
        <link rel="stylesheet" href='@routes.Assets.at("nvd3/nv.d3.css")'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src='@routes.Assets.at("javascripts/jquery-2.0.3.min.js")' type="text/javascript"></script>

        @refreshSecs.map { s =>
            <meta http-equiv="refresh" content="@s">
        }
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top tight-bottom">
            <ul class="nav navbar-nav">
            @for(s <- model.Estate().stageNames) {
                <li class="@if(stage.exists(_ == s)) {active}"><a href="/@s">@s</a></li>
            }
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <i class="glyphicon glyphicon-user"></i> @request.user.fullName
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@routes.Login.logout()">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        @content

        <script src='@routes.Assets.at("bootstrap-3.0.0/js/bootstrap.min.js")'></script>
        <script src='@routes.Assets.at("nvd3/d3.v3.js")'></script>
        <script src='@routes.Assets.at("nvd3/nv.d3.min.js")'></script>
        <script src='@routes.Assets.at("zeroclipboard/ZeroClipboard.min.js")'></script>
        <script>
            ZeroClipboard.setDefaults( { moviePath: '@routes.Assets.at("zeroclipboard/ZeroClipboard.swf")' } );
        </script>

        @for(script <- scripts) {
          <script src="@script"></script>
        }

    </body>
</html>
